@media only screen and (max-width: 660px) {

  header {
    display: block;
  }
  .information-credits {
    width: 100%;
    text-align: center;
  }

  .brand {
    text-align: center;
    margin-top: 30px;
    width: 100%;
  }

  .brand>svg {
    width: 65px;
    height: 60px;
  }

  .container {
    display: block;
  }

  #video>svg {
    width: 43px;
    height: 460px;

  }


}

