
/* Do not use this rule in production */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2b2b2b;
    font-family: "Manrope", serif;
}

p {
    font-weight: 300;
    line-height: 26px;
}

h1, h2 {
    font-size: 29px;  
}

span {
    color: #e65a5a;
}

h3, p, span {
    font-size: 19px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 600;
}

p, h1, h2, h3, h4, ul, ol, a {
    color: #fff;
}


li span {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #EF4343;
    transition: 150ms;
}

iframe {
    border: solid 2px #EF4343;
    border-radius: 10px;
}

/* style visited - off
a:visited {
    color: #858585;
}
*/
nav .navbar {
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
}

nav .navbar .nav-itens {
    display: flex;
    list-style: none;
}

nav .navbar .nav-itens .nav-item {
    font-weight: 400;
}

main {
    position: relative;
}

main svg {
    position: absolute;
    z-index: -1;
    width: 100%;
}

main .svg-item-gradient-1 {
    margin-top: 194px;
    height: 420px;
}

main .container {
    padding: 130px;
    margin-bottom: 70px;
    overflow: hidden;
    display: flex;
}

main .container .text-content {
}

main .container .text-content .main-text {
    margin-top: 48px;
    padding: 10px;
}

.section-text {
    margin-top: 45px;
    padding: 50px;
}


.section-player {
    padding: 40px;
    text-align: center;
}

.msg-content {
    position: absolute;
    margin-top: 125px;
}

.msg {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: start;
}












.cont-2 p {
    margin: 35px 0px 35px 0px;
}

main .svg-item-gradient-2 {
    margin-top: 130px;
    height: 820px;
}





.section-player h3 {
    margin-top: 50px;
}

.section-text-2 {
    padding: 30px;
}

.section-about {
    padding: 80px;
    width: 150vw;
    margin-top: 80px;
}

.section-about ul {
    padding-top: 2px;
    list-style: square;
}

.section-about li {
    font-weight: 300;
    font-size: 18px;
    margin: 10px;
    padding: 2px;
}


.msg-content-2 {
    position: absolute;
    margin-top: 15px;
}

.svg-imag,
.link {
    text-align: center;
}

.section-text-2 ol {
    padding-top: 2px;
}

.section-text-2 li {
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    padding: 2px;
}

.sub-title {
    font-size: 13px;
}

.list {
    margin-top: 15px;
}

.section-player-2 {
    padding: 30px;
    margin-top: 230px;
    text-align: center;
}